{% extends 'base.html.twig' %}

{% block jumbo %}
    <div class="jumbotron text-center">
        <h1>Bewerk afbeelding</h1>
        <p></p>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-sm-2"></div>

            <form class="frmStandard" id="mainform" name="mainform" method="POST" action="{{ path('city_save', { id: city.id }) }}">

                <div class="form-group row">
                    <label for="id" class="col-sm-4 col-form-label">Id</label>
                    <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="id" name="id" value="{{ city.id }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="title" class="col-sm-4 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="title" name="title" value="{{ city.title }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="width" class="col-sm-4 col-form-label">Width</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="width" name="width" value="{{ city.width }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="height" class="col-sm-4 col-form-label">Height</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control-plaintext" id="height" name="height" value="{{ city.height }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="height" class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-6">
                        <textarea class="form-control-plaintext" id="description" name="description">{{ city.description }}</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="height" class="col-sm-4 col-form-label">Image</label>
                    <div class="col-sm-6">
                        <input type="text" id="image" name="image" value="{{ city.image }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="land" class="col-sm-4 col-form-label">Land</label>
                    <div class="col-sm-6">
                        {{ landSelectBox | raw }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <input class="btn btn-success" name="btnOpslaan" type="submit" value="Opslaan">
                        <input class="btn btn-danger" name="btnAnnuleren" type="submit" value="Annuleren">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <img class="img-fluid" src="{{ asset('images/' ~ city.image) }}">
                    </div>
                </div>

            </form>


        </div>
    </div>

{% endblock %}
